body {
    font-family: sans-serif;
    font-size: 14px;
}




/******* ESTILOS LOGO INICIAL *********/
.img-up {
    margin: auto;
}

/****** Estilos Navbar *****/

<<<<<<< HEAD

#mainNavbar {
    padding-left: 50px;
    padding-top: 20px;
=======


/******* ESTILOS LOGO INICIAL *********/
.img-up{
    margin: auto;
}

/****** ESTILOS NAVBAR ******/



header div nav{
    background-color: #0c084c;
    color: #fff;
}

div .dropdown-item:hover{
    background-color: #0c084c;
    color: #fff;
}

/**** Estilos Contenido Home ****/

.img-content{
    margin: 400px 0;
    

}


/*
.navbar-nav li.active > a{
   color: #6fc2d0;
    font-weight: bold;
>>>>>>> 4ae881b2dd3db2358451de4c5f99acd1d117c407
}

<<<<<<< HEAD
nav {
    background-color: rgba(12, 8, 76, 0.15);
}

.navbar.scrolled {
    background: #0c084c;
    transition: background 500ms
=======
/*

.navbar-brand{
    color: #fff;
    font-size: 25px;
    font-family: sans-serif;
    font-weight: 700;
    letter-spacing: 0.1em;
>>>>>>> 4ae881b2dd3db2358451de4c5f99acd1d117c407
}

ul li a {
    color: white;
    font-size: 16px;
    display: inline-block;
    font-weight: 500;
    position: relative;
    line-height: 42px;
}

ul li a.active:after {
    opacity: 1;
}

<<<<<<< HEAD
ul li a:hover:after {
    opacity: 1;
=======
.navbar-expand .navbar-nav .dropddown-menu{
    border-top: 3px solid #0c084c;
>>>>>>> 4ae881b2dd3db2358451de4c5f99acd1d117c407
}

ul li a:after {
    position: absolute;
    left: 0;
    bottom: 7px;
    width: 100%;
    height: 2px;
    background: white;
    content: "";
    opacity: 0;
    -webkit-transform: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.navbar-collapse {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.navbar-toggler:hover,
.navbar-toggler:focus {
    text-decoration: none;
}

.navbar-toggler:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
}


/**** Estilos Contenido Home ****/



/***** Estilos Carousel ****/
.carousel {
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.carousel .carousel-inner {
    height: 100%;
}

.carousel .carousel-inner img {
    display: block;
    object-fit: cover;
}

.carousel-item {
    height: 65vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover
}

*/

/****** Estilos de la Galeria *********/

.titu-casos .titulo {
    color: #0c084c;
    text-align: center;
    font-size: 4.4em;
    line-height: .6em;
    text-transform: uppercase;
    letter-spacing: .01em;
    margin-bottom: .2em;
    margin-top: 2rem;
    padding-bottom: 0;
    text-shadow: 0 2px 0 #313848;
    transform: rotate(0deg);
}

.titu-casos .titulo:hover {
    text-shadow: 0 -2px 0 #a7cdf2, 0 2px 0 #124678, 1px 0px 0 #2868a5, 3px 3px 0px rgba(0, 0, 0, 0.1), -3px 4px 0px rgba(0, 0, 0, 0.1), 2px -2px 0px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.1), -150px 580px 0 rgba(27, 104, 178, 0.06);

}

.casos {
    background: #fff;
    border-top: 5px solid #0c084c;
    padding: 5px 20px;
}

.casos .sub-titulo {
    padding: 20px 0;
    text-align: center;
    color: #0c084c;
    font-family: sans-serif;
    font-weight: 300;
}

.casos .galeria .contenedor-imagen {
    margin-bottom: 40px;
    overflow: hidden;
}

.casos .galeria .contenedor-imagen a {
    background: #3da5e2;
    display: inline-block;
    box-shadow: 0 1px 0 black;
}

.casos .galeria .contenedor-imagen:hover img {
    opacity: .3;
}


/******* Modal img jq *******/

.casos .modal-dialog {
    margin: 0px auto;
    height: 100%;
    max-width: 1000px;
}

.casos .modal-content {
    width: auto;
}


/******  Estilos de las Card´s Pagina Index   *******/

.contenedor {
    position: relative;
    width: 100%;
}

.image_0 {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.contenedor:hover .image_0 {
    opacity: 0.5;
}

.contenedor:hover .middle {
    opacity: 1;
}

.text {
    color: black;
    font-size: 16px;
    padding: 16px 32px;
}


/******    *******/

/******  INFO WALTER   *******/

.acerca-de {
    padding: 30px;
    margin-bottom: 40px;
}

.acerca-de .foto {
    text-align: center;

}

.acerca-de .foto img {
    margin-bottom: 30px;
}

.acerca-de .info .titulo-acerca {
    color: #005385;
    font-family: sans-serif;
    font-weight: 300;
    font-size: 40px;
    margin-bottom: 30px;

}

.acerca-de .info .resumen {
    letter-spacing: 1px;
}

/***** CONSULTORIO *****/

<<<<<<< HEAD
.consultorio .titulo-consult {
=======
.consultorio .titulo-consult{
>>>>>>> 4ae881b2dd3db2358451de4c5f99acd1d117c407
    color: #005385;
    font-family: sans-serif;
    font-weight: 300;
    font-size: 40px;
    margin-bottom: 30px;
}

<<<<<<< HEAD
.consultorio .consult-resumen {
    letter-spacing: 1px;

=======
.consultorio .consult-resumen{
    letter-spacing: 1px;
    
>>>>>>> 4ae881b2dd3db2358451de4c5f99acd1d117c407
}


/***** CONTACTO *****/

.contacto {
    background: #f1f1f1;
    padding: 40px 0;
    border-top: 1px solid #cbcbcb;
    border-bottom: 1px solid #cbcbcb;
    margin-bottom: 40px;
}

.contacto .titulo {
    color: #0c084c;
    font-family: sans-serif;
    font-weight: 300;
    font-size: 40px;
    margin-bottom: 10px;
    text-align: center;
    text-shadow: 1px 1px 1px blue;
}

.contacto .card:hover i,
.contacto .card:hover h4 {
    color: #0c084c;
}

.contacto .card-body {
    background: #f1f1f1;
}



/********* PAGINA DE CONTACTO *******/

/** Banner **/



<<<<<<< HEAD
div .image-contacto-banner {
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url("../imagenes/fondos/fondo2.jpg");
=======
div .image-contacto-banner{
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("../imagenes/fondos/fondo2.jpg");
>>>>>>> 4ae881b2dd3db2358451de4c5f99acd1d117c407
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    padding-top: 110px;
    padding-bottom: 110px;
    border-radius: 5px solid black;
}

.lg-text {
    font-size: 52px;
    font-weight: 600;
    text-transform: none;
    color: #fff;
}

.image-contacto-text {
    color: #fff;
}

/** Informacion **/

.informacion {
    padding-bottom: 10px;
    background: #f1f1f1;
    border-bottom: 1px solid #cbcbcb;
    margin-bottom: 10px;
}

.info-contacto {
    text-align: left;
    color: #0c084c;
    font-family: sans-serif;
    font-weight: 300;
    text-shadow: 1px 1px 1px blue;
}


/** Mapa **/

.contact-section-map {
    padding: 20px 10px;
    padding-bottom: 3px;
    /*border: 3px solid #0c084c;*/
<<<<<<< HEAD

=======
    
>>>>>>> 4ae881b2dd3db2358451de4c5f99acd1d117c407
}

/******** NOTA IMPORTANTE ******/

.nota {
    border-bottom: 1px solid #cbcbcb;
}

.titulo-nota {
    text-align: center;
    color: red;
    font-size: 30px;
    text-decoration: underline;
    text-shadow: 1px 1px 1px red;

}

.texto-nota {
    text-align: center;
}




/******  ESTILOS REDES SOCIALES  *******/

<<<<<<< HEAD
.redes-sociales {
=======
.redes-sociales{
>>>>>>> 4ae881b2dd3db2358451de4c5f99acd1d117c407
    padding: 20px 0;
    margin: 20px;
    width: 100%;
}

.redes-sociales .icono {
    width: 100px;
    height: 100px;
    font-size: 40px;
    line-height: 100px;
    color: #fff;
    text-align: center;
    background: #dedede;
    display: inline-block;
    margin: 0px 20px;
    text-decoration: none;
    border-radius: 100px;
    transition: all .3s ease;
}


.redes-sociales .facebook {
    background: #3b5998;
}

.redes-sociales .instagram {
    background: #8a3ab9;
}

.redes-sociales .whatsapp {
    background: #4dc247;
}

.redes-sociales .facebook:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 25px -2px rgb(59, 89, 152);
}

.redes-sociales .instagram:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 25px -2px rgb(138, 58, 185);
}

.redes-sociales .whatsapp:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 25px -2px rgb(77, 194, 71);
}


/****** FOOTER ******/

footer a:hover {
    text-decoration: none;
    font-size: 12px;
    color: #0c084c;
}


/* --- MEDIAQUERIES --- */

/* Dispositivo XL */
@media screen and (max-width:1199px) {}

/* Dispositivo LG */
@media screen and (max-width:991px) {

    /* Arreglando tamaño de imagenes en dispositivos pequeños */

    .modal .modal-dialog {
        width: 90%
    }

    .modal .modal-dialog .modal-content img {
        width: 100%;
    }

}










/* Dispositivo MD */
@media screen and (max-width:767px) {

    .redes-sociales .icono {
        width: 75px;
        height: 75px;
        font-size: 30px;
        line-height: 75px;
    }

}

/* Dispositivo SM */
@media screen and (max-width:575px) {

    .redes-sociales .icono {
        width: 60px;
        height: 60px;
        font-size: 25px;
        line-height: 60px;
    }

    .info-contacto-2 {
        padding-top: 20px;
    }
}